<div class="form-style-8">
  <h2>Создать новое направление</h2>
  <%= form_for :subject, url: new_subject_path do |form| %>
    <p>Название<%= form.text_field :name %></p>
    <p>Описание<%= form.text_field :description %></p>
    <%= form.submit %>
  <% end %>
</div>