<h1>Все курсы</h1>
<table class="center">
  <colgroup>
    <col style="background:#C7DAF0;">
  </colgroup>
  <tr>
    <th>Название</th>
    <th>Информация</th>
    <th>Кол-во уроков</th>
    <th>Цена</th>
  </tr>
  <% @course.each do |e| %>
    <tr>
      <td><%= e.name %></td>
      <td><%= e.info%></td>
      <td><%= e.total_lessons%></td>
      <td><%= e.price%></td>
    </tr>
  <% end %>
</table>