<% content_for(:title) { 'Новая категория' } %>

<%= form_for @category, html: { class: 'form' } do |form| %>
  <label>
    <span class="form__label-text">
      Название <%= required_field %>
    </span>

    <%= form.text_field :name %>
  </label>

  <%= form.submit 'Готово' %>
<% end %>