<% content_for(:title) { 'О проекте' } %>

<h1>О проекте</h1>

<p>
  Вы хотите научиться программировать, но не знаете, с чего начать?
  Где найти подходящие курсы? Ege-finder поможет вам с этим!
</p>

<p>С помощью нашего сервиса вы можете:</p>

<ul>
  <li>Найти для себя подходящие IT-курсы, отфильтровав их по цене, местоположению, рейтингу и множеству других критериев</li>
  <li>Удостовериться в качестве найденного вами курса при помощи рейтинга и отзывов других людей</li>
  <li>Или же, наоборот, поставить оценку курсу и поделиться своим мнением, чтобы помочь другим сделать правильный выбор</li>
</ul>

<p>Наш список содержит множество разнообразных курсов, так что вы точно найдете то, что вам нужно.</p>
<p>Вперед! <%= link_to 'Здесь', search_path %> вы можете начать поиск.</p>